.research-filters-section {
  margin-left: 20px;
}

.research-title h1 {
  padding: 10px 20px 20px 0px;
}

/* formulaire de recherche */

.research-form {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.icon-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 49px;
  border-radius: 15px 0 0 15px;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

#icone-maps {
  font-size: 17.6px;
}

#user-input {
  width: 236px;
  padding-left: 8px;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  border-left: none;
  border-right: none;
  height: 49px;
  color: var(--black);
}

#user-input::placeholder {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
}

.btn-research {
  width: 48px;
  height: 49px;
  border-radius: 0 15px 15px 0;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

#research {
  display: none;
}

#glass {
  display: inline;
  transition: all 0.2s ease-in-out;
}

#glass:hover {
  font-size: 22.4px;
}

/* Section des filtres */

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0 20px 0;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--white);
  border: 2px solid var(--dark-grey);
  cursor: pointer;
  padding-left: 10px;
  transition: all 0.2s ease;
}

.filter-button:hover {
  background-color: var(--light-blue);
}

.filter-button:active {
  transform: scale(0.95);
}

.filter-button span {
  color: var(--black);
  font-size: 11px;
}

#family-icon {
  margin: 0 3px;
  font-size: 20.8px;
}

.filter-button i {
  font-size: 17.6px;
  color: var(--blue);
}

/* petite zone point informations logements */

.info-message {
  display: flex;
  gap: 10px;
  margin: 20px 0 30px 0;
}

.info-message p {
  font-size: 14px;
}

.info-message span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-icon {
  font-size: 12px;
  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--dark-grey);
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-5px);
}

/* > font-weight ne marche pas sur l'icone "fa-solid fa-info", peut-être utilser l'icone .svg de font-awesome pour modifier l'épaisseur de l'icone ?*/